
.navbar {
  position: sticky;
  top: 0;
  z-index: 1; 
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  height: 70px;
}

.nav-link {
  color: #000;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #3b9a44;
}

.button:hover{
  cursor: pointer;
  color: red;

}

.form-control {
  border-radius: 20px;
  padding: 5px 15px;
  border: 1px solid #ccc;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 20px;
}

.search-container .fa-search {
  position: absolute;
  left: 10px;
  color: #aaa;
  font-size: 16px;
  pointer-events: none;
}

.search-container input {
  padding-left: 30px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.search-container input:focus {
  outline: none;
  border-color:#3b9a44;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.cart-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  color: #333;
  cursor: pointer;
}

.cart-icon:hover {
  color: #3b9a44;
}


.disabled {
  pointer-events: none;
  opacity: 0.6;
  cursor: not-allowed;
}
