<footer class="bg-dark text-white pt-5 pb-3 mt-4">
    <div class="container-fluid">
      <div class="row d-flex align-items-center justify-content-between">
        <!-- About Gardenz Section -->
        <div class="col-md-2 mb-4">
          <h5>About Gardenz</h5>
          <p>Gardenz is your go-to place for everything related to gardening. From tips and tricks to the best gardening tools, we have it all.</p>
        </div>
  
        <!-- Quick Links Section -->
        <div class="col-md-2 mb-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a routerLink="" class="text-white"><i class="fas fa-home"></i> Home</a></li>
            <li><a routerLink="/shop" class="text-white"><i class="fas fa-store"></i> Shop</a></li>
            <li><a routerLink="/blog" class="text-white"><i class="fas fa-blog"></i> Blog</a></li>
            <li><a href="#" class="text-white"><i class="fas fa-phone-alt"></i> Contact</a></li>
          </ul>
        </div>
  
        <!-- Social Media Section -->
        <div class="col-md-2 mb-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-instagram"></i> Instagram</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#" class="text-white"><i class="fab fa-youtube"></i> YouTube</a></li>
          </ul>
        </div>
  
        <!-- Newsletter Signup Section -->
        <div class="col-md-2 mb-4">
          <h5 class="footer-heading">Newsletter Signup</h5>
          <form>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Enter your email" required>
            </div>
            <button type="submit" class="btn btn-success">Subscribe</button>
          </form>
        </div>
  
        <!-- Contact Info Section -->
        <div class="col-md-3 mb-4 footer_contact_info">
          <h4 class="footer-subheading">We are &#64;</h4>
          <ul>
            <li class="address">
              <h6><span class="fa fa-home"></span> Address</h6>
              <p>No: 58 A, East Madison Street,<br> Galaxy, MD, Mumbai 141010</p>
            </li>
            <li>
              <h6><span class="fa fa-envelope"></span> Email</h6>
              <p><a href="mailto:shubham@example.com">gardenz&#64;example.com</a></p>
              <p><a href="mailto:support@example.com">support&#64;example.com</a></p>
            </li>
            <li>
              <h6><span class="fa fa-phone"></span> Phone</h6>
              <p>+91 1234567890</p>
              <p>0803 - 080 - 3082</p>
            </li>
            <li>
              <h6><span class="fa fa-fax"></span> Fax</h6>
              <p>2542 2445 2566</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <!-- Footer Bottom -->
    <div class="text-center mt-5">
      <p>&copy; 2025 Gardenz. All Rights Reserved.</p>
    </div>
  </footer>
  