footer {
    background-color: #2b2b2b;
    color: #fff;
  }
  
  footer h5 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
  footer p {
    font-size: 0.9rem;
    color: #bbb;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  footer a:hover {
    color: #66bb6a;
    transform: translateX(5px);
  }
  
  footer a i {
    margin-right: 10px;
  }
  
  footer .btn-success {
    background-color: #66bb6a;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  footer .btn-success:hover {
    background-color: #558b2f;
  }
  
  footer .form-control {
    background-color: #767272;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  footer .form-control:focus {
    border-color: #056f0b;
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer .text-center {
    color: #bbb;
  }
  
  footer .text-center p {
    font-size: 0.8rem;
  }
  
  footer .container {
    max-width: 1140px;
  }
  

  .footer-contact-wrapper {
    background-color: #2b2b2b;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer-subheading {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .footer-heading {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .footer_contact_info{
    margin-left: 90px;
  }
  .footer_contact_info ul {
    list-style: none;
    padding-left: 0;
  }
  
  .footer_contact_info li {
    margin-bottom: 15px;
  }
  
  .footer_contact_info h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 5px;
  }
  
  .footer_contact_info p {
    font-size: 0.95rem;
    color: #ffffff;
  }
  
  .footer_contact_info a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .footer_contact_info a:hover {
    color: #66bb6a;
  }
  
  .footer_contact_info span {
    margin-right: 10px;
  }
  
  .footer-contact-wrapper .col-md-6 {
    color: white;
  }
  
  .footer-contact-wrapper .btn-success {
    background-color: #66bb6a;
    border: none;
  }
  
  .footer-contact-wrapper .btn-success:hover {
    background-color: #558b2f;
  }
  

  footer .col-md-2 {
    padding-right: 35px;
    padding-left: 100px;
  }
  
  footer h5, footer h4, footer h6 {
    color: #ffffff;
  }
  
  footer .footer-heading, footer .footer-subheading {
    font-weight: bold;
  }
  

  
  footer .btn-success {
    background-color: #66bb6a;
    border: none;
  }
  
  footer .btn-success:hover {
    background-color: #558b2f;
  }
  