
<div class="container mt-5">
  <h2 class="text-center mb-4">BEST SELLERS</h2>
  <div class="d-flex flex-wrap justify-content-between gap-3">

  
@for (cards of cards; track $index) {
    <div class="card featured-card" style="width: 18rem;">
        <img [src]="cards.image" class="card-img-top" [alt]="cards.name">
        <div class="card-body">
          <h5 class="card-title">{{ cards.name }}</h5>
          <p class="card-text">{{ cards.description }}</p>
          <div class="d-flex justify-content-between">
            <a href="#" class="btn btn-primary">Buy Now</a>
            <a href="#" class="btn btn-outline-secondary add-to-cart-btn">Add to Cart</a>
          </div>
        </div>
      </div>
    }
    </div>
</div>




<!-- <ul class="list-group">

  <li 

      *ngFor="let post of posts"

      class="list-group-item">
      <h4>{{ post.id }}</h4> 

      {{ post.title }}

  </li>

</ul> -->