<div class="container mt-5">
    <div class="row">
      
      <div class="col-md-7">
       
        <h2 class="mb-4">Get in Touch</h2>
        <p>
          Feel free to reach out to us with any questions, comments, or
          inquiries. We're here to help and would love to hear from you!
        </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13695.218142347778!2d75.89203400408857!3d30.89212859039642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a9d25d1b32b79%3A0xc1a9293963721d98!2sUrban%20Estate%20Phase%201%2C%20Jamalpur%2C%20Ludhiana%2C%20Punjab!5e0!3m2!1sen!2sin!4v1737530614603!5m2!1sen!2sin" width="600" height="380" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  
     
      <div class="col-md-5">
        <div class="card shadow-lg p-4">
          <h4 class="text-center mb-4">Contact Us</h4>
          <form action="https://formsubmit.co/83baaddf82f9be191cf5367bec96d878" method="POST">
            <div class="form-group mb-3">
              <label for="name">Full Name</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Enter your full name"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="email">Email Address</label>
              <input
                type="email"
                name="email"
                id="email"
                class="form-control"
                placeholder="Enter your email address"
                required
              />
            </div>
            <div class="form-group mb-3">
              <label for="message">Your Message</label>
              <textarea
                id="message"
                name="message"
                class="form-control"
                rows="4"
                placeholder="Write your message here..."
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary w-100">
                Send Message
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  