<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login to your Account</h5>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input
                type="email"
                class="form-control mb-3"
                placeholder="Enter email"
                name="email"
                #Email="ngModel"
                ngModel
                required
                email
                [(ngModel)]="userObj.email"
              />
              <div
                *ngIf="Email.touched && Email.invalid"
                class="alert alert-danger"
              >
                <div *ngIf="Email.errors?.['required']">Email is required.</div>
                <div *ngIf="Email.errors?.['email']">Email is invalid.</div>
              </div>
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control mb-3"
                placeholder="Password"
                name="password"
                #Password="ngModel"
                ngModel
                required
                [(ngModel)]="userObj.password"
              />
              <div
                *ngIf="Password.touched && Password.invalid"
                class="alert alert-danger"
              >
                Password is required.
              </div>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="loginForm.invalid"
            >
              LogIn
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
