

.card {
  border-radius: 10px;
  overflow: hidden;
}

.card-img-top {
  height: 300px;
  object-fit: cover; 
}

.card-title {
  color: #2c3e50;
}

.card-text {
  color: #7f8c8d;
}

.badge {
  font-size: 0.8rem;
  padding: 5px 10px;
}

.btn-outline-success:hover {
  background-color: #27ae60;
  color: #fff;
}

.container {
  max-width: 1200px;
}

.read-more {
  background-color: #8bc34a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

.read-more:hover {
  background-color: #026e06;
}